<h2>Phones list</h2>
<div>
    <label for="we">Find</label>
    <input type="text" id="we" ng-model="phones.search"/>
</div>
<ul ng-repeat="phone in phones.phones |filter: phones.search" class="elems-list">
    <li>
        <div>{{phone.id}}</div>
    </li>
</ul>