doctype html
html(lang='en' ng-app='app')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title
		base(href='/phones')
		script(src='js/bundle.js')
		//script(src='js/bundle.min.js')
	body.body
		.main-wrapper
			header.header
			div(ui-view)
		footer.footer