.header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	//min-height: 100px;
	margin: 0;
	padding: 0;
	background: #ccc;
}

.header-nav {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	//margin: auto 0;
	list-style: none;

	&__el {
		width: 80px;
		height: 60px;
		margin: auto 0;
		padding: 15px 10px;
		text-align: center;
	}
}

.header-nav-link {
	text-decoration: none;
	color: lighten(#c5c5c5, 30);
	transition: all 0.3s ease;
	&:hover {
		color: black;
		font-size: 110%;
		font-weight: bold;
		transition: all 0.3s ease;
	}
}

.active {
	color: darken(#ccc, 30);
	font-weight: bold;
	transition: none;
	&:hover {
		color: darken(#ccc, 30);
		font-size: 100%;
		font-weight: bold;
		transition: none;
		cursor: default;
	}
}