<nav>
    <ul class="header-nav">
        <li class="header-nav__el">
            <a ui-sref="home" ui-sref-active="active" class="header-nav-link">Home</a>
        </li>
        <li class="header-nav__el">
            <a ui-sref="phones" ui-sref-active="active" class="header-nav-link">Phones</a>
        </li>
        <li class="header-nav__el">
            <a ui-sref="tablets" ui-sref-active="active" class="header-nav-link">Tablets</a>
        </li>
    </ul>
</nav>