<div>{{home.name}}</div>
<!--<input type="file" ng-model="home.inpt" onchange="angular.element(this).scope().home.inptChange(this)"/>-->
<!--<input type="text" ng-model="home.src"/>-->
<!--<img src="{{home.src}}" alt="" id="dd"/>-->