.body {
	margin: 0;
	padding: 0;
	font-family: 'Lucida Grande', sans-serif;
}

* {
	box-sizing: border-box;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	//margin: 0 -15px;
	list-style: none;
	//flex-wrap: wrap;
}

.col-3 {
	width: calc(100% / 3);
}